{% extends 'base.html' %}
{% block content %}

{% if user.id == user.id %}
{% include 'profile/menu.html' %}

      <!-- Main content START -->
      <div class="col-lg-6 vstack gap-4">
        <!-- Setting Tab content START -->
        <div class="tab-content py-0 mb-0">

          <!-- Account setting tab START -->
          <div class="tab-pane show active fade" id="nav-setting-tab-1">
            <!-- Account settings START -->
            <div class="card-profile mb-4" style="margin-top: 8px;box-shadow: 0 10px 20px #0000000a, 0 2px 6px #0000000a, 0 0 1px #0000000a;">
              
              <!-- Title START -->
              <div class="card-profile-header border-0 pb-0">
                <h1 class="h5 card-title" style="font-weight: 700;">Избранные объявления</h1>
                <p class="mb-0"></p>
              </div>
              <hr style="color:#e3e0e0;">
              <!-- Card header START -->
              <!-- Card body START -->
            <div class="card-body">

                {% for my_post in new %}
                <div class="card-profile">
                  <div class="card-body">
                    <div class="slider" style="width: 200px;height:150px; float: left;">
                    {% for all_images in my_post.all_images.all %}
                    <img src="{{ all_images.image_data_link.url }}" class="rounded" style="height: 150px; width: 200px;" alt="продукт">
                  {% endfor %}
                </div>
                  <div style="margin-left: 300px;">
                    <div><a style="color:#3A4454;font-size: 20px;" href="{% url 'post_detail' my_post.pk %}">{{ my_post.type_object}} · {% if my_post.square %} {{my_post.square|default_if_none:""}} м² ·{% endif %} {{my_post.land_area }} сот. · {{my_post.land_status}}</a></div>
                    <div style="font-size: 20px;" class="price-main-card">{{ my_post.price }} ₽</div>
                    <small class="text-muted">{{my_post.created_at}}</small>
                  </div>
              </div>                
                </div>  
                <hr style="color: #e3e0e0;">    
                {% endfor %}

            </div>
{% endif %}

</script>
{% endblock content %}