<div class="main-about-info">
<h1 style="font-size: 16px;"><b>Загородома</b> - портал по продаже и аренде загородной недвижимости в Санкт-Петербурге и Ленинградской области.</h1>
    <h2 style="font-size: 16px;">Вы мечтаете о своем уютном доме за городом? Тогда вы попали по адресу!<br><br>
    Наш сайт - это лучший ресурс для поиска и покупки или аренды загородной недвижимости в Санкт-Петербурге и Ленинградской области.<br><br>
    У нас есть самый большой выбор объявлений о продаже и аренде домов, коттеджей, таунхаусов и земельных участков. <br><br>
    Вы можете подобрать недвижимость по своим предпочтениям: размеру, стоимости, местоположению, комфорту и другим критериям. <br><br>
    Вы также можете разместить свое объявление о продаже или аренде своего загородного дома и привлечь внимание потенциальных покупателей или арендаторов. 
</h2>
</div>