<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="padding-bottom: 0rem!important;margin-bottom: 0rem!important;">
        

      <div class="col mb-3" style="text-align: center;">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="/media/static/footer-logo.svg" width="100" style="display: block;margin: 0 auto;">
        </a>
        <p class="text-muted">Загородома © 2023</p>
      </div>
      <div class="links">
        <a href="/" title="Главная">Главная</a>
        <a href="{% url 'catalog' %}" title="Строительные компании">Строительные компании</a>
        <a href="{% url 'news' %}" title="Новости">Новости</a>
        <a href="{% url 'sales' %}" title="Продажа">Продажа</a>
        <a href="" title="Контакты">Контакты</a>
        <a href="//vk.com/zagorodoma" target="_blank" title="Мы в ВК"><i class="fi-brands-vk" style="color: black;"></i></a>
      </ul>
    </div>
    </footer>
  </div>