{% extends 'base.html' %} &nbsp;{% block content %}
<main class="form-signin">
  <form method="post">
    {% csrf_token %}
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Войти или зарегистрироваться</h1>

    <div class="form-floating">
      <input type="login" class="form-control" id="floatingInput" placeholder="Имя" name="username"> 
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="password">
      <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Зарегистрироваться</a>
    <p class="mt-5 mb-3 text-muted">Загородома © 2017–2021</p>
  </form>
</main>
{% endblock content %}


