{% extends 'base.html' %} &nbsp;{% block content %}
<main class="form-signin">
  <form method="post">
    {% csrf_token %}
    <img class="mb-4" src="/media/static/logo-v2.png" alt="zagorodoma.ru" width="220" height="100" style="display: block;
      margin: 0 auto;">
    <h1 class="h3 mb-3 fw-normal">Войти или зарегистрироваться</h1>

    <div class="form-floating">
      <input type="login" class="form-control" id="floatingInput" placeholder="Имя" name="username" autofocus="autofocus"> 
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="password">
      <label for="floatingPassword">Пароль</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <a class="nav-link active" style="float: left;" aria-current="page" href="{% url 'signup' %}">Зарегистрироваться</a>
    <a class="nav-link active" style="float: right;" aria-current="page" href="{% url 'password_reset' %}">Забыли пароль?</a>
    <p class="mt-5 mb-3 text-muted">Загородома © 2017–2021</p>
  </form>
</main>
{% endblock content %}


