{% extends 'base.html' %}
{% block content %}
<div class="village-titile-category">Поселки <button type="button" class="btn btn-success" onclick="window.location.href = '{% url 'village_new' %}';" style="float: right;">Добавить поселок</button></div>
<div class="village-filter">
    <form class="d-flex" action="{% url 'village_search' %}" method="get">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Найти поселок" />
            <button class="btn" style="color: #5143d6 !important;background-color: rgb(82 68 216 / 10%) !important;" type="submit" id="button-addon2">Найти</button>
        </div>
    </form>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="filteredProducts" style="max-width: 1000px;margin: 15px;display: inline;" >
  {% for village in object_list %}
    <div class="card-village">
        <div class="row" style="width: 700px;">
            <div class="col-md-4">
                {%  if village.img %}
                <img src="{{ village.img.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                <img src="media/villages/default.png" class="img-fluid rounded-start" alt="...">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="float: left;"><a style="color:#3A4454;" href="{% url 'village_detail' village.slug %}" target="_blank">{{village.title}}</a></h5>
                  <p class="card-text" style="float: right;"><small class="text-muted">ID: {{village.id}}</small></p>
                  <p class="card-text" style="clear: both;">{{village.body}}</p>
                  <p class="card-text">{{ village.adress }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}