{% extends 'base.html' %}
{% block title %}
{{ post.status }} {{village.title}} - Zagorodoma.ru
{% endblock %}
{% block description %}
{% endblock %}
{% block keywords %}
{% endblock %}
{% block content %}
{% load mathfilters %}
<style>#map {
    width: 100%;
    height: 80%;
    border-radius: 10px;}
  
    .ymaps-2-1-79-map ymaps {
      border-radius: 16px;
    }</style>
<div class="card">
  <input type="button" class="btn btn-secondary" style="width: 100px;display: flex;justify-content: center;margin-top: 20px;margin-left: 20px;" onclick="history.back();" value="Назад"/>
    <div class="card-body_post" style="margin-top: 20px; !important">
        <div class="post-entry" style="width:1000px;">
          {%  if village.img %}
          <img src="{{ village.img.url }}" style="width:150px;float: left;margin-bottom: 30px;border-radius: 10px;" alt="{{village.title}}">
          {% else %}
          <img src="/media/villages/default.png" style="width:150px;float: left;margin-bottom: 30px;border-radius: 10px;" alt="{{village.title}}">
          {% endif %}
          <div><a style="float: right;border-bottom: 1px dashed #5143d6;color: #5143d6;" href="{{village.url}}"> {{village.url}} </a></div>
          <div class="village-title-card">
            <div><h3 style="float: left;">{{ village.title }}</h3></div> 
            
            <input type="hidden" id="village-adress" name="variable" value="{{ village.adress }}">
            <div style="color: rgb(102 102 102 / 88%);clear: both; margin-bottom: 5px;">{{ village.adress }}</div>
            
            {% if village.developer %}<div style="margin-bottom: 5px;">Застройщик: {{ village.developer }}</div>{% endif %}
          </div> 
            <div id="body" style="clear:both;"> 
                <div style="font-size: 18px;font-weight: bold;margin-bottom: 8px;">Участки</div>
            <ul class="ul-card-info">
                {% if village.status_land %}
                <li class="li-card-info">
                <span class="span-title">Статус земли</span>
                <span class="dots"></span>
                <span>{{ village.status_land }} </span>
                </li>
                {% endif %}
                {% if village.col_area %}
                <li class="li-card-info">
                  <span class="span-title">Количество участков</span>
                  <span class="dots"></span>
                  <span>{{ village.col_area }}</span>
                  </li>
                {% endif %}
                {% if village.min_area or village.max_area %}
                <li class="li-card-info">
                  <span class="span-title">Площадь участков</span>
                  <span class="dots"></span>
                  <span>{% if village.min_area %} от {{ village.min_area }} {% endif %} {% if village.max_area %} до {{ village.max_area }} {% endif %} сот.</span>
                  </li>
                {% endif %}
                {% if village.price_area %}
                <li class="li-card-info">
                  <span class="span-title">Цена за сотку</span>
                  <span class="dots"></span>
                  <span class="price_area">{{ village.price_area }} руб.</span>
                  </li>
                {% endif %}
              </ul> 
            </div>
            
            <div id="body">
                 {% if village.col_house %}
                <div style="font-size: 18px;font-weight: bold;margin-bottom: 8px;">Дома</div>
                <ul class="ul-card-info">
                    {% if village.col_house %}
                    <li class="li-card-info">
                    <span class="span-title">Количество домов</span>
                    <span class="dots"></span>
                    <span>{{ village.col_house }} </span>
                    </li>
                    {% endif %}
                    {% if village.house_price_min or house_price_max %}
                    <li class="li-card-info">
                      <span class="span-title">Цена дома</span>
                      <span class="dots"></span>
                      <span>{% if village.house_price_min %}от {{ village.house_price_min }} руб.{% endif %} {% if village.house_price_max %}от {{village.house_price_max}} руб.{% endif %}</span>
                      </li>
                    {% endif %}
                    {% if village.сommunications %}
                    <li class="li-card-info">
                      <span class="span-title">Коммуникации</span>
                      <span class="dots"></span>
                      <span>{% if village.сommunications %} {{village.сommunications }} {% endif %} сот.</span>
                      </li>
                    {% endif %}
                  </ul>
                  {% endif %}
            </div>

            {% if village.payment %}
            <div id="body">
                <div style="font-size: 18px;font-weight: bold;margin-bottom: 8px;">Ежемесячные взносы</div>
                <div class="village-payment">{{ village.payment }} руб.</div>
            </div>
            {% endif %}

            <div id="body"> 
                <div style="font-size: 18px;font-weight: bold;margin-bottom: 8px;">Описание</div>
                    <p>{{ village.body }}</p>
            </div>
            <hr style="color:#e3e0e0;">
            <div id="map"></div>
            </div>
            
</div>

    </div>
    
        </div>

<script type="text/javascript">

$('.price_area').text((i, text) => {
const [ price, currency ] = text.split(' ');
return `${(+price).toLocaleString()} ${currency}`;
});

ymaps.ready(init);

function init() {
    var myVar = document.getElementById("village-adress").value;
    var myMap = new ymaps.Map('map', {
        center: [59.9386, 30.3141],
        zoom: 9
    });

    // Поиск координат центра Нижнего Новгорода.
    ymaps.geocode(myVar, {
        /**
         * Опции запроса
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/geocode.xml
         */
        // Сортировка результатов от центра окна карты.
        // boundedBy: myMap.getBounds(),
        // strictBounds: true,
        // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy.
        // Если нужен только один результат, экономим трафик пользователей.
        results: 1
    }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            firstGeoObject.options.set('preset', 'islands#darkBlueDotIconWithCaption');
            // Получаем строку с адресом и выводим в иконке геообъекта.
            firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                // Проверяем наличие тайлов на данном масштабе.
                checkZoomRange: true
            });
        });
      }
</script>
{% endblock content %}