    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div style="display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 320px;
    width: 100%;">
    <div class="main-blocks">
      <div class="min-card-main-info">
        <div class="min-card-main-text"><a style="color:#5e5d5d" href="{% url 'sales' %}"> Продажа</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg><img class="svg-img-main-min-icon" src="media/static/deal.png"></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: #5e5d5d;
        margin-left: 3px;">{{ sale_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-rent">
        <div class="min-card-main-text"><a style="color:#5e5d5d" href="{% url 'rent' %}"> Аренда</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg><img class="svg-img-main-min-icon" src="media/static/main-rentv2.png"></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: #5e5d5d;
        margin-left: 3px;">{{ rent_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-cottage-postcards">
        <div class="min-card-main-text"><a style="color:#5e5d5d" href="{% url 'village' %}">Коттеджные поселки</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg><img class="svg-img-main-min-icon" src="media/static/village.png"></div>
        <div class="min-card-all-sale"> Всего поселков:
        <b style="font-size: 15px;
        color: #5e5d5d;
        margin-left: 3px;">{{ col_village }}</b>
        </div>
      </div>

      <div class="min-card-main-info-company">
        <div class="min-card-main-text"><a style="color:#5e5d5d" href="{% url 'catalog' %}"> Строительные компании</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg><img class="svg-img-main-min-icon" src="media/static/business.png"></div>
        <div class="min-card-all-sale"> Всего компаний:
        <b style="font-size: 15px;
        color: #5e5d5d;
        margin-left: 3px;">{{ companies_post }}</b>
        </div>
      </div>
  </div>
<!--Подключение фильтра-->
  {% include 'static/main_filter.html' %}
<!--Подключение фильтра-->
  <div class="main-text-title">Новые объявления:</div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="filteredProducts" style="max-width: 1000px;margin: 15px;" >
   
    {% for post in object_list %}
    {% if post.pub %}
    {% else %}
    <div class="advert post-box">
      <div class="card-min">
      
        <div class="slider">
           
        {% for all_images in post.all_images.all %}
        <a href="{% url 'post_detail' post.pk %}" target="_blank"><img src="{{ all_images.image_data_link.url }}" class="main-image-post" alt="{{ post.status }} {{ post.type_object}}а {% if post.square %}{{post.square|default_if_none:""}} м² {% endif %}{{post.land_area }} сот. {{post.land_status}} - zagorodoma.ru"></a>
        {% endfor %}
           
        </div>
      
      <span class="badge bg-success" {% if post.status.id == 2 %} style="background-color: #27CB58 !important;border-radius: 0% 5px 5px 0%;    font-size: 14px;" {% endif %} {% if post.status.id == 3 %} style="background-color: #53687E !important;border-radius: 0% 5px 5px 0%;font-size: 14px;" {% endif %}>{{post.status}}</span>
        <div class="card-body">
          <h5 class="card-title"><a style="color:#3A4454;" href="{% url 'post_detail' post.pk %}" target="_blank">{{ post.type_object}} · {% if post.square %} {{post.square|default_if_none:""}} м² ·{% endif %} {{post.land_area }} сот. · {{post.land_status}}</a></h5>
          <p class="min-card-adress">{{ post.adress}}</p>
          {% if post.price %}
          <h4 class="price-main-card">{{ post.price }} ₽</h4>
          {% else %}
          <div><h4  class="price-main-card" style="float: left;">{{post.rent_price}} ₽</h4><h4 style="font-size: 16px;">/{{post.rent_period}}</h4></div>
          {% endif %}
          <!--<p class="min-card-text">{{ post.body|slice:":100" }}...<a href="{% url 'post_detail' post.pk %}" target="_blank">Читать далее</a></p>!-->
        </div>
        {% if post.todaytime %}
            <div class="card-footer" style="background: white;"> 
              <small class="text-muted" style="color:#5143d6bd !important"><i class="bi bi-clock-history"></i> Сегодня в {{post.created_at|time:"H:i"}} </small>
            </div>
          {% else %}
            <div class="card-footer" style="background: white;"> 
              <small class="text-muted">{{post.created_at}}</small>
            </div>
        {% endif %}
      </div>    
    </div>
    {% endif %}
  {% endfor %}
  
  </div>
  <div style="max-width: 1000px;"><button type="button" id="loadMore" data-limit="6" data-total="{{total_data}}" class="btn btn-secondary btnload" style="margin: 0 auto;display: block;width: 200px;margin-top: 20px;">Показать еще</button></div>
  
  <div class="main-text-title" style="margin-top:20px">Коттеджные поселки: <div style="float: right;"><a href="{% url 'village' %}" style="border-bottom: 1px dashed;    border-bottom: 1px dashed #5143d6;
      color: #5143d6;">Посмотреть все <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
    </svg></a></div></div>
    <div class="slider multiple-items block-slider-cotvill" role="toolbar" style="margin-top: 30px;">
      {% for village in villages %}
      <div style="text-align: center;">
        {%  if village.img %}
        <a href="{% url 'village_detail' village.slug %}"><img src="{{ village.img.url }}" class="img-fluid rounded" style="margin-left: auto;margin-right: auto;" alt="{{village.title}} - zagorodoma.ru" width="124"></a>
        {% else %}
        <a href="{% url 'village_detail' village.slug %}"><img src="media/villages/default.png" class="img-fluid rounded" style="margin-left: auto;margin-right: auto;" alt="{{village.title}} - zagorodoma.ru" width="124"></a>
        {% endif %}
        <a href="{% url 'village_detail' village.slug %}" style="color:#3A4454"><div style="font-weight: bold;margin-top: 5px;">{{ village.title }}</div></a>
      <a href="{% url 'village_detail' village.slug %}"style="color:#3A4454"></a><div>{{ village.adress }}</div></a>
    </div>
      {% endfor %}
    </div>
    <!--Подключение подписки-->
    {% include 'static/subscribe.html' %}
    <!--Подключение подписки-->

<div class="main-text-title">Новости: <div style="float: right;"><a href="{% url 'news' %}" style="border-bottom: 1px dashed;    border-bottom: 1px dashed #5143d6;
  color: #5143d6;">Посмотреть все <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
</svg></a></div></div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="filteredProducts" style="max-width: 1000px;margin: 15px;" >
 
    {% for new in news %}
    <div style="position: relative;display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;" class="post-box-news">
    <a href="{% url 'detail_news' new.slug %}"><img src="{{ new.img.url }}" class="img-fluid rounded" style="filter: brightness(50%);height:250px;" width="400" alt="{{news.title}} - zagorodoma.ru"></a>
    <div class="news-views-main"><i class="fi-rr-eye" style="font-size: 12px;"></i> {{new.views}}</div>
    <div class="news-title-main">
        <span style="font-weight: bold;">{{new.title}}</span><br>
        {% if new.todaytime %}
        <span style="font-size: 10px;"><i class="bi bi-clock-history"></i> Сегодня в {{new.created_at|time:"H:i"}} </span>
        {% else %}
        <span style="font-size: 10px;">{{new.created_at}}</span>
        {% endif %}
    </div>
    </div>
    {% endfor %}
</div>
<!--Подключение блока о нас-->
{% include 'static/about.html' %}
<!--Подключение блока о нас-->
</div>
<script defer type="text/javascript">
$(".dropdown dt a").on('click', function() {
  $(".dropdown dd ul").slideToggle('fast');
});

$(".dropdown dd ul li a").on('click', function() {
  $(".dropdown dd ul").hide();
});

function getSelectedValue(id) {
  return $("#" + id).find("dt a span.value").html();
}

$(document).bind('click', function(e) {
  var $clicked = $(e.target);
  if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
});

$('.mutliSelect input[type="checkbox"]').on('click', function() {

  var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
    title = $(this).val() + ",";

  if ($(this).is(':checked')) {
    var html = '<span title="' + title + '">' + title + '</span>';
    $('.multiSel').append(html);
    $(".hida").hide();
  } else {
    $('span[title="' + title + '"]').remove();
    var ret = $(".hida");
    $('.dropdown dt a').append(ret);

  }
});
$(function(){
        $('#line-wrap-example').multiSelect({
            positionMenuWithin: $('.position-menu-within')
        });
        $('#typeobj').multiSelect({
            noneText: 'Тип объекта',
            
        });
        $('#getstatus').multiSelect({
            noneText: 'Тип сделки',
            
        });
        $('#landstat').multiSelect({
            noneText: 'Статус участка',
            
        });
        $('#housematerial').multiSelect({
            noneText: 'Материал дома',
            
        });
        $('#district').multiSelect({
            noneText: 'Район',
            
        });
        $('#modal-example').multiSelect({
            'modalHTML': '<div class="multi-select-modal">'
        });
    });


    $(document).ready(function(){
    $("#showHideContent").click(function () {
        if ($("#Land_area").is(":hidden")) {
            $("#Land_area").show();
        } else {
            $("#Land_area").hide();
        }
        if ($("#square").is(":hidden")) {
            $("#square").show();
        } else {
            $("#square").hide();
        }
        if ($("#floors").is(":hidden")) {
            $("#floors").show();
        } else {
            $("#floors").hide();
        }
        if ($("#housemat").is(":hidden")) {
            $("#housemat").show();
        } else {
            $("#housemat").hide();
        }
        if ($("#distr").is(":hidden")) {
            $("#distr").show();
        } else {
            $("#distr").hide();
        }
        return false;
    });
});
if (document.documentElement.clientWidth < 768) {
$('.multiple-items').slick({
infinite: true,
slidesToShow: 1,
slidesToScroll: 1
});
}
$('.multiple-items').slick({
infinite: true,
slidesToShow: 4,
slidesToScroll: 3
});    
$('.price-main-card').text((i, text) => {
    const [ price, currency ] = text.split(' ');
    if (price>=0)
    {
    return `${(+price).toLocaleString()} ${currency}`;
    }
  });
</script>
<script async src="{% static 'js/loadMore.js' %}" type="text/javascript"></script>
{% endblock content %}
