    {% extends 'base.html' %}
    {% block content %}
    <div  style="max-width: 1000px;margin: 15px;">
      <div class="min-card-main-info">
        <div class="min-card-main-text"><a style="color:white" href="{% url 'sales' %}"> Продажа <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></a></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ sale_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-rent">
        <div class="min-card-main-text">Аренда <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ rent_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-cottage-postcards">
        <div class="min-card-main-text">Поселки <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></div>
        <div class="min-card-all-sale"> Всего поселков:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ rent_status_post }}</b>
        </div>
      </div>
      </div>
    </div>
    <div class="main-filter">



    <div style="float:left;margin-right: 10px;">
      <div>Тип объекта:</div>
      <select id="typeobj" name="categories" multiple>
        {% for typeobj in view.get_typeobjects %}
        <option value="{{ typeobj.id }}" data-badge="" class="filter-checkbox" data-filter="type_object" name="type_object">{{ typeobj.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="float:left;margin-right: 10px;">
      <div>Тип сделки:</div>
      <select id="getstatus" multiple="multiple" >
      {% for status in view.get_status %}
      <option class="filter-checkbox" data-filter="status" type="checkbox" {% if status.id == 2 %} aria-selected="true" {% endif %} name="status" value="{{ status.id }}">
      <span>{{ status.title }}</span>
      {% endfor %}
    </select>
    </div>
    <div style="float: left;margin-right: 10px;">
      <div>Цена:</div>
      <input class="form-control" style="max-width: 115px;float: left;margin-right: 5px;" name="minPrice" id="minPrice" placeholder="Цена от"/>
      <input class="form-control" style="max-width: 115px;" name="maxPrice" id="maxPrice" placeholder="Цена до"/>
    </div>
    <div style="float: left;margin-right: 10px;">
      <div>Этажей:</div>
      <input class="form-control" style="width: 70px;float: left;margin-right: 5px;" name="minFloors" id="minFloors" placeholder="от"/>
      <input class="form-control" style="width: 70px;" name="maxFloors" id="maxFloors" placeholder="до"/>
    </div>
   
    <div style="float: left;margin-right: 10px;">
      <div>S участка:</div>
      <input class="form-control" style="width: 70px;float: left;margin-right: 5px;" name="minLand_area" id="minLand_area" placeholder="от"/>
      <input class="form-control" style="width: 70px;float: left;" name="maxLand_area" id="maxLand_area"  id="maxLand_area" placeholder="до"/>
    </div>
    
    <button id="PriceFilter" class="btn" id="btn">Найти</button>
  </div>


<div style="max-width: 1000px;">
  <div class="main-text-title">Последние объявления:</div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="filteredProducts" style="max-width: 1000px;margin: 15px;" >
   
    {% for post in object_list %}
    {% if post.pub %}
    {% else %}
    <div class="advert post-box">
      <div class="card-min">
        <div class="slider">
        {% for all_images in post.all_images.all %}
          <img src="{{ all_images.image_data_link.url }}" class="rounded" style="height: 220px;" alt="продукт">
        {% endfor %}     
      </div>
      <span class="badge bg-success" {% if post.status.id == 2 %} style="background-color: #27CB58 !important;border-radius: 0% 5px 5px 0%;" {% endif %} {% if post.status.id == 3 %} style="background-color: #53687E !important;border-radius: 0% 5px 5px 0%;" {% endif %}>{{post.status}}</span>
        <div class="card-body">
          <h5 class="card-title"><a style="color:#3A4454;" href="{% url 'post_detail' post.pk %}" target="_blank">{{ post.type_object}} · {% if post.square %} {{post.square|default_if_none:""}} м² ·{% endif %} {{post.land_area }} сот. · {{post.land_status}}</a></h5>
          <h4 class="price-main-card">{{ post.price }} ₽</h4>
          <p class="min-card-text">{{ post.body|slice:":100" }}...<a href="{% url 'post_detail' post.pk %}" target="_blank">Читать далее</a></p>
        </div>
        {% if post.todaytime %}
            <div class="card-footer" style="background: white;"> 
              <small class="text-muted"><i class="bi bi-clock-history"></i> Сегодня в {{post.created_at|time:"H:i"}} </small>
            </div>
          {% else %}
            <div class="card-footer" style="background: white;"> 
              <small class="text-muted">{{post.created_at}}</small>
            </div>
        {% endif %}
      </div>    
    </div>
    {% endif %}
  {% endfor %}

  </div>
    <button type="button" id="loadMore" data-limit="6" data-total="{{total_data}}" class="btn btn-secondary btnload" style="margin: 0 auto;display: block;width: 200px;margin-top: 40px;">Показать еще</button>
    <div class="alert alert-success alert-dismissible fade show not-visible" role="alert" id="alert" style="max-width: 955px;
    margin-left: 20px;
    margin-right: 20px;">
      <i class="bi bi-check-circle-fill"></i> Всё уже просмотрено
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<script type="text/javascript">
$(".dropdown dt a").on('click', function() {
  $(".dropdown dd ul").slideToggle('fast');
});

$(".dropdown dd ul li a").on('click', function() {
  $(".dropdown dd ul").hide();
});

function getSelectedValue(id) {
  return $("#" + id).find("dt a span.value").html();
}

$(document).bind('click', function(e) {
  var $clicked = $(e.target);
  if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
});

$('.mutliSelect input[type="checkbox"]').on('click', function() {

  var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
    title = $(this).val() + ",";

  if ($(this).is(':checked')) {
    var html = '<span title="' + title + '">' + title + '</span>';
    $('.multiSel').append(html);
    $(".hida").hide();
  } else {
    $('span[title="' + title + '"]').remove();
    var ret = $(".hida");
    $('.dropdown dt a').append(ret);

  }
});
$(".js-select2").select2({

			closeOnSelect : false,
			placeholder : " Тип объекта",
			allowHtml: true,
			allowClear: true
		});
$(".js-select3").select2({

closeOnSelect : false,
placeholder : " Тип сделки",
allowHtml: true,
allowClear: true
});
$(function(){
        $('#people').multiSelect();
        $('#ice-cream').multiSelect();
        $('#line-wrap-example').multiSelect({
            positionMenuWithin: $('.position-menu-within')
        });
        $('#typeobj').multiSelect({
            noneText: 'Тип объекта',
            
        });
        $('#getstatus').multiSelect({
            noneText: 'Тип сделки',
            
        });
        
        $('#modal-example').multiSelect({
            'modalHTML': '<div class="multi-select-modal">'
        });
    });


</script>
{% endblock content %}
