    {% extends 'base.html' %}
    {% block content %}
    <div  style="max-width: 1000px;margin: 15px;">
      <div class="min-card-main-info">
        <div class="min-card-main-text"><a style="color:white" href="{% url 'sales' %}"> Продажа <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></a></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ sale_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-rent">
        <div class="min-card-main-text">Аренда <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></div>
        <div class="min-card-all-sale"> Всего объявлений:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ rent_status_post }}</b>
        </div>
      </div>

      <div class="min-card-main-info-cottage-postcards">
        <div class="min-card-main-text">Поселки <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></div>
        <div class="min-card-all-sale"> Всего поселков:
        <b style="font-size: 15px;
        color: white;
        margin-left: 3px;">{{ rent_status_post }}</b>
        </div>
      </div>
      </div>

    </div>
    Последние объявления
    
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="max-width: 1000px;margin: 15px;">
  {% for post in object_list %}
    <div class="advert">
      <div class="card-min">
        <div class="slider">
        {% for all_images in post.all_images.all %}
          <img src="{{ all_images.image_data_link.url }}" class="rounded" style="height: 220px;" alt="продукт">
        {% endfor %}     
      </div>      
        
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.type_object}} · {% if post.square %} {{post.square|default_if_none:""}} м² ·{% endif %} {{post.land_area }} сот. · {{post.land_status}}</a></h5>
          <h4 class="price-main-card">{{ post.price }} ₽</h4>
          <p class="min-card-text">{{ post.body|slice:":100" }}...<a href="{% url 'post_detail' post.pk %}">Читать далее</a></p>
        </div>
        <div class="card-footer" style="background: white;"> 
          <small class="text-muted">{{post.created_at}}</small>
          {{post.total_views}}
        </div>
      </div>    
    </div>
  {% endfor %}
  <div>asd</div>
</div>
<div class="grid-img-right mt-4 text-right bg bg1" >
  {% include 'pagination.html' %}
</div>
<script type="text/javascript">
 
  $('.slider').slick({
    accessibility: true,
    arrows: true,
    prevArrow: '<div class="carousel-control-prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>',
    nextArrow: '<div class="carousel-control-next"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>',
    dots: true,
    autoplay: false,
  });


  $('.price-main-card').text((i, text) => {
  const [ price, currency ] = text.split(' ');
  return `${(+price).toLocaleString()} ${currency}`;
});
</script>
{% endblock content %}
