
{% block main-filter %}
<div class="main-filter">
    <div style="float:left;margin-right: 10px;">
      <select id="typeobj" name="categories" multiple>
        {% for typeobj in view.get_typeobjects %}
        <option value="{{ typeobj.id }}" data-badge="" class="filter-checkbox" data-filter="type_object" name="type_object">{{ typeobj.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="float:left;margin-right: 10px;">
      
      <select id="getstatus" multiple="multiple" >
      {% for status in view.get_status %}
      <option class="filter-checkbox" data-filter="status" name="status" value="{{ status.id }}">
      {{ status.title }}</option>
      {% endfor %}
    </select>
    </div>
    <div style="float:left;margin-right: 10px;">
      
      <select id="landstat" name="land" multiple>
        {% for lands in view.get_landstatus %}
        <option value="{{ lands.id }}" data-badge="" class="filter-checkbox" data-filter="land_status" name="land_status">{{ lands.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="float: left;margin-right: 80px;">
      
      <input class="form-control" style="max-width: 115px;float: left;margin-right: 5px;border: 1px solid #ffffff;" name="minPrice" id="minPrice" placeholder="Цена от"/>
      <input class="form-control" style="max-width: 115px;border: 1px solid #ffffff;" name="maxPrice" id="maxPrice" placeholder="Цена до"/>
    </div>
    <div id="floors" style="float: left;margin-right: 10px;display:none;clear: both;margin-top: 10px;">
      <div style="color: #aaa;">Этажей:</div>
      <input class="form-control" style="width: 70px;float: left;margin-right: 5px;border: 1px solid #ffffff;" name="minFloors" id="minFloors" placeholder="от"/>
      <input class="form-control" style="width: 70px;border: 1px solid #ffffff;" name="maxFloors" id="maxFloors" placeholder="до"/>
    </div>
   
    <div id="Land_area" style="float: left;margin-right: 10px;display:none;margin-top: 10px;">
      <div style="color: #aaa;">Площадь участка:</div>
      <input class="form-control" style="width: 70px;float: left;margin-right: 5px;border: 1px solid #ffffff;" name="minLand_area" id="minLand_area" placeholder="от"/>
      <input class="form-control" style="width: 70px;float: left;border: 1px solid #ffffff;" name="maxLand_area" id="maxLand_area"  id="maxLand_area" placeholder="до"/>
    </div>
    <div id="housemat" style="float:left;margin-right: 10px;display:none;margin-top: 10px;">
      <div style="color: #aaa;">Материал дома:</div>
      <select id="housematerial" name="house_material" multiple>
        {% for housem in view.get_housematerial %}
        <option value="{{ housem.id }}" data-badge="" class="filter-checkbox" data-filter="house_material" name="house_material">{{ housem.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="distr" style="float:left;margin-right: 10px;display:none;margin-top: 10px;">
      <div style="color: #aaa;">Район:</div>
      <select id="district" name="district" multiple>
        {% for district in view.get_district %}
        <option value="{{ district.id }}" data-badge="" class="filter-checkbox" data-filter="district" name="district">{{ district.title }}</option>
        {% endfor %}
      </select>
    </div>
    <button id="showHideContent" class="btn" style="color: #4e4e4e !important;background-color: rgb(82 68 216 / 10%) !important;">Все фильтры</button>
    <button id="PriceFilter" class="btn" id="btn" style="color: #5143d6 !important;background-color: rgb(82 68 216 / 10%) !important;">Найти</button>
  </div>
{% endblock %}