{% extends 'base.html' %}
 
{% block content %}
{% if user.is_authenticated %}

<h3 style="text-align: center;margin-top: 20px;color:#404040">Добавить Объявление</h3>
<hr style="color:#e3e0e0;">
<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="form-floating">
      <!-- статус сделки-->
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="basic-info">
        <h2 class="h4 mb-4"><i class="fi fi-rr-briefcase"></i> Информация о сделке</h2>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-category">Тип сделки <span class="text-danger">*</span></label>
            <ul id="id_status" class="payment-methods" style="padding-left: 0rem;">
            {% for radio in form.status %}
            {{ radio.tag }}
            <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }} </label>
            {% endfor %}
            </ul>
          </div>
          <!-- статус сделки-->
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Тип объекта <span class="text-danger">*</span></label>
            <ul id="id_type_object" class="payment-methods" style="padding-left: 0rem;">
            {% for radio in form.type_object %}
            {{ radio.tag }}
            <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }} </label>
            {% endfor %}
            </ul>
            </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="adress-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-marker"></i> Адрес</h2>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="adress">Адрес <span class="text-danger">*</span></label>
            {{ form.adress }} <!-- адрес-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="district">Район <span class="text-danger">*</span></label>
            {{ form.district }} <!-- адрес-->
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="object-info">
        <h2 class="h4 mb-4"><i class="fi fi-rr-list"></i>  Информация об объекте</h2>
        <div class="row">
          <div class="col-sm-4 mb-3">
            <label class="form-label" for="ap-category">Площадь участка <span class="text-danger">*</span></label>
            <div class="input-group mb-3">{{ form.land_area }} <!-- площадь участка--><span class="input-group-text">сот.</span> </div>
            
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Статус участка <span class="text-danger">*</span></label>
            {{ form.land_status }} <!-- статус земли-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Площадь дома <span class="text-danger">*</span></label>
            {{ form.square }} <!-- площадь дома-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Материал дома <span class="text-danger">*</span></label>
            {{ form.house_material }} <!-- материал дома-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Год постройки <span class="text-danger">*</span></label>
            {{ form.year_of_construction }} <!-- год постройки-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Кол-во этажей <span class="text-danger">*</span></label>
            {{ form.floors }} <!-- этажей в дома-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Высота потолков <span class="text-danger">*</span></label>
            {{ form.ceiling_height }} <!-- высота потолков-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Водоснабжение <span class="text-danger">*</span></label>
            {{ form.water }} <!-- водоснабжение-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Отопление <span class="text-danger">*</span></label>
            {{ form.heating }} <!-- какое отопление в доме--> 
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Благоустройство <span class="text-danger">*</span></label>
            {{ form.houseAdditional }} <!-- Благоустройство-->
          </div>
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="ap-type">Удобства <span class="text-danger">*</span></label>
            {{ form.rent_amenities }} <!-- удобвства аренды-->
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="body-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-comment-alt"></i> Описание</h2>
        <div class="row">
          <div class="col-sm-10 mb-3">
            <label class="form-label" for="body-info">Описание <span class="text-danger">*</span></label>
            {{ form.body }} <!-- описание-->      
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="photo-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-picture"></i> Фотографии </h2>
        <div class="row">
          <div class="col-sm-3 mb-3" style="width:100%;">
            <label class="form-label" for="photo-info">Фотографии <span class="text-danger">*</span>
              <div class="alert alert-warning" role="alert" style="width: 800px;">
                Для загрузки нескольких фотографий, их необходимо выделить при помощи ctrl!
              </div>

          </label>
            <div class="example-1">
              <div class="form-group">
                <label class="label">
                  <i class="fi-rr-add-document"></i>
                  <span class="title">Добавить фотографии</span>
                  {{ form.all_images }}
                </label>
              </div>
              <div class="row">
                <span class="photo-add" id="output"></span>
            </div>
            </div>       
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="price-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-coins"></i> Цена</h2>
        <div class="row">
          <div class="col-sm-3 mb-3">
            <label class="form-label" for="price">Цена <span class="text-danger">*</span></label>
            <div class="input-group mb-3">{{ form.price }}<!-- цена--><span class="input-group-text">руб.</span> </div>
            
          </div>
          <div class="col-sm-3 mb-3">
            <label class="form-label" for="price"></label>
            <div class="input-group mb-3" style="font-size: 20px;font-size: 20px;background: #e9ecef;color: #636363;padding: 10px;width: 240px;border-radius: 10px;"> 
              {{ form.urgent_sales }} <div style="margin-left: 5px;margin-right: 5px;"> Срочная продажа</div> <img src="/media/static/fire.png" width="20" height="20">
            </div>        
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="price-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-coins"></i> Стоимость аренды</h2>
        <div class="row">
          <div class="col-sm-3 mb-3">
            <label class="form-label" for="price">Цена <span class="text-danger">*</span></label>
            <div class="input-group mb-3">{{ form.rent_price }} <!-- стоимость аренды--><span class="input-group-text">руб.</span> </div>
            
          </div>
        </div>
      </section>
      <section class="card-add-post card-body border-0 shadow-sm p-4 mb-4" id="price-info">
        <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i> 
          <i class="fi fi-rr-phone-call"></i> Телефон</h2>
        <div class="row">
          <div class="col-sm-4 mb-3">
              <label class="form-label" for="ap-type">Мобильный телефон <span class="text-danger">*</span></label>
              {{ form.phone }}  <!-- номер продавца-->
          </div>
        </div>
      </section>
    </div>
<input class="btn btn-success" style="margin: 0 auto;display: block;font-size: 19px;" type="submit" value="Разместить объявление" />
</form>

{% else %}
<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{% url 'login' %}';">Войти</button>
{% endif %}
<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {
        // Only process image files.
        if (!f.type.match('image.*')) {
            alert("Image only please....");
        }
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                // Render thumbnail.
                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');
                document.getElementById('output').insertBefore(span, null);
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }
}
document.getElementById('id_all_images').addEventListener('change', handleFileSelect, false);
</script>

<script>
  $("#id_adress").suggestions({
      token: "ca1baaf48c3a1e4e5d234d45772c702accd1ccdc",
      type: "ADDRESS",
      /* Вызывается, когда пользователь выбирает одну из подсказок */
      onSelect: function(suggestion) {
          console.log(suggestion);
      }
  });
</script> 

{% endblock content %}