{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body_post">
  <div class="post-entry">
    <h4>{{ post.type_object}}, {% if post.square %} {{post.square|default_if_none:""}} м² ,{% endif %} {{post.land_area }} сот., {{post.land_status}}</h4>
    <div class="price-card">{{post.price}} ₽</div><div class="price-card">{{post.price}} ₽</div>
    <div class="buttons-post">
      {% if user.is_authenticated %}
      {% if fav %}
      <a href="{% url 'favourite_list' %}"><i class="bi bi-bookmark-heart"></i> Убрать Избранное</a>
      {% else %}
      <a href="{% url 'favourite_add' post.pk %}"><i class="bi bi-bookmark-heart"></i> Избранное</a>
      {% endif %}
      {% else %}
      <a href="{% url 'login' %}"><i class="bi bi-bookmark-heart"></i> Избранное</a>
      {% endif %}
    <p><a href="#" onClick="window.print()"><i class="bi bi-printer"></i> Печать</a></p>
    <p><i class="bi bi-reply-all"></i> Поделиться</p>
  </div>
    <hr style="color:#e3e0e0;">
    <small class="text-muted">{{post.created_at}}  <div style="float:right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
    </svg>     {{post.views}} </div></small>
    <div class="post-adress">{{ post.adress }}</div>
    <div class="slider" style="max-width: 800px;">
      {% for all_images in post.all_images.all %}
        <img src="{{ all_images.image_data_link.url }}" class="rounded"  alt="продукт" >
      {% endfor %}     
    </div>
    <div id="body"> <div style="font-size: 18px;">Описание</div>
      <p>{{ post.body}}</p>


    </div>
    <hr style="color:#e3e0e0;">

    <div class="all_info"> 
      <div style="font-size: 18px;text-align: center;">Общая информация</div>
      <div><div style="margin-bottom: 16px;font-weight: bold;">Удобства</div>
      <ul class="ul-card-info">
        {% if post.water %}
        <li class="li-card-info">
        <span class="span-title">Водоснабжение</span>
        <span class="dots"></span>
        <span>{{ post.water }} </span>
        </li>
        {% endif %}
        {% if post.heating %}
        <li class="li-card-info">
          <span class="span-title">Отопление</span>
          <span class="dots"></span>
          <span>{{ post.heating|default_if_none:"" }}</span>
          </li>
        {% endif %}
      </ul>   
      </div>
      <hr style="color:#e3e0e0;">
      <div><div style="margin-bottom: 16px;font-weight: bold;">Участок</div>
      <ul class="ul-card-info">
        <li class="li-card-info">
        <span class="span-title">Статус участка</span>
        <span class="dots"></span>
        <span>{{ post.land_status }} </span>
        </li>
        <li class="li-card-info">
          <span class="span-title">Площадь участка</span>
          <span class="dots"></span>
          <span>{{ post.land_area }} сот. </span>
          </li>
      </ul>
      </div>
      
      {% if post.house_material %}  <hr style="color:#e3e0e0;"> <div><div style="margin-bottom: 16px;font-weight: bold;">Дом</div>
      <ul class="ul-card-info">
        {% if post.house_material %} 
        <li class="li-card-info">
        <span class="span-title">Материал Дома</span>
        <span class="dots"></span>
        <span>{{ post.house_material|default_if_none:"" }} </span>
        </li>
        {% endif %}
        {% if post.floors %}
        <li class="li-card-info">
          <span class="span-title">Этажей в доме:</span>
          <span class="dots"></span>
          <span>{{ post.floors|default_if_none:"" }}</span>
          </li>
        {% endif %}
        {% if post.square %}
        <li class="li-card-info">
          <span class="span-title">Площадь дома</span>
          <span class="dots"></span>
          <span>{{ post.square|default_if_none:"" }} м²</span>
          </li>
        {% endif %}
        {% if post.year_of_construction %}
        <li class="li-card-info">
          <span class="span-title">Год постройки</span>
          <span class="dots"></span>
          <span>{{ post.year_of_construction|default_if_none:"" }} г.</span>
          </li>
        {% endif %}
        {% if post.ceiling_height %}
        <li class="li-card-info">
          <span class="span-title">Высота потолков</span>
          <span class="dots"></span>
          <span>{{ post.ceiling_height|default_if_none:"" }} м.</span>
          </li>
        {% endif %}
      </ul>

      </div>
      {% endif %} 

      {% if post.houseAdditional.all %}  <hr style="color:#e3e0e0;"> <div><div style="margin-bottom: 16px;font-weight: bold;">Благоустройство</div>
      <ul class="ul-card-info">
        {% for user in post.houseAdditional.all %}
        <li class="li-card-info">
          {{ user.title }} <svg style="color: #198754;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
          </svg>
        </li>

        {% endfor %}
      </ul>

      </div>
      {% endif %} 
    </div>
  </div>
  
  <div class="sidebar-card">
  {% if post.author.profile.photo %}
    <center>
    <img src="{{ post.author.profile.photo.url }}" height=100 width=100 class="rounded-circle">
    </center>
    {% else %}
    <center>
    <img src="\media\users\profile\default\default-icon.png" height=100 width=100 class="rounded-circle">
    </center>
  {% endif %}
    <p style="text-align: center;margin-top: 15px;">{{ post.author }}</p>
    
    <button id="btn" class="phone-card" type="button" onClick="klik()">Показать номер</button>
  </div>
  </div>
</div>
<script type="text/javascript">
 
  $('.slider').slick({
    accessibility: true,
    arrows: true,
    prevArrow: '<div class="carousel-control-prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>',
    nextArrow: '<div class="carousel-control-next"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>',
    dots: true,
    autoplay: false,
  });


  $('.price-card').text((i, text) => {
  const [ price, currency ] = text.split(' ');
  return `${(+price).toLocaleString()} ${currency}`;
});

function klik() {
  document.getElementById('btn').innerHTML = `
  <div><a href="tel:{{ post.phone }}">{{ post.phone }}</a></div>
  `;
}
</script>
{% endblock content %}