{% extends 'base.html' %}
{% block title %}Объявления о продаже недвижимости в Ленинградской области. Объектов в продаже: {{total_data}} - Zagorodoma.ru{% endblock %}
{% block description %}Широкий выбор объектов недвижимости в продаже на нашем сайте. Наш каталог включает в себя дома, коттеджи, земельные участки и таунхаусы. {% endblock %}
{% load static %}
{% block content %}
<div class="category-page-style">
<!--Подключение фильтра-->
{% include 'static/main_filter.html' %}
<!--Подключение фильтра-->
<!--Подключение карточки объекта-->
{% include 'static/card_posts.html' %}
<!--Подключение фильтра-->
</div>



<script src="{% static 'js/jscategory.js' %}" type="text/javascript"></script>
<script src="{% static 'js/loadMoresale.js' %}" type="text/javascript"></script>
{% endblock content %}
